  /* 메뉴 구성 */
  .container{
    position: absolute;
    width: 97%;
    height: 97%;
    padding: 10px;
    display: flex;

    left: 8px;
    top: 5px;
    right: 7px;
    bottom: 10px;
}

/* column1 */
.column1{
  flex: 0.4;

  display: flex;
  flex-direction: column;
  margin: 0px 15px 10px 0px;
}
.row0{
  flex: 0.1;
  font-size: 12px;
  text-align: center;
}

.row1{
  flex: 2;

  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.row1a{
  flex: 0.3;
  /* width: 30%; */
  margin-bottom: 10px;
}

.row1b{
  flex: 0.8;
  font-family: 'KyoboHand';
  font-size: 15px;
}

.row1c{
  flex: 0.1;
  font-family: 'KyoboHand';
  font-size: 18px;
}

.row1d{
  flex: 0.1;
  font-family: 'KyoboHand';
  font-size: 15px;
}

/* column2 */
.column2{
  flex: 1;

  display: flex;
  flex-direction: column;
  margin: 0px 0px 10px 5px;
}
.row2{
  flex: 0.1;
  display: flex;
}
.c1{
  flex: 0.5;
  font-size: 1rem;

}
.c2{
  flex: 0.5;
  font-size: 1rem;

}

.row3{
  flex: 2;

  display: flex;
  flex-direction: column;
  padding: 15px;
}

.row3news{
  flex: 0.1;
  color: #9fc5e8;
  font-weight: bold;
  font-size: 18px;
}

.newsbox{
  flex: 0.4;
  margin-bottom: 40px;
  display: flex;
}

.news2{
  flex: 0.5;
  display: flex;
  flex-direction: column;
}

.news2one{
  display: flex;
}
.one1{
  flex: 0.5;
  font-size: smaller;
}
.one2{
  flex: 0.5;
  font-size: smaller;
}

.news2two{
  display: flex;
}
.two1{
  flex: 0.5;
  font-size: smaller;
}
.two2{
  flex: 0.5;
  font-size: smaller;
}

.news1{
  flex: 0.5;

  display: flex;
  flex-direction: column;
}

.news1a{
  flex: 0.1;
  font-size:small;
}

.row3main{
  flex: 0.2;
  color: #9fc5e8;
  font-weight: bold;
  font-size: 18px;
}

/* column3 */
.column3{
  flex: 0.2;

  display: flex;
  flex-direction: column;
  margin: 50px 5px 10px 0px;
}
.homebtn{
  flex: 0.08;
  width: 80%;
  cursor: pointer;
}

/* 기타 모양들 */
.box{
  background-color: white;
  border: 1px solid #f4f1f1;
  border-radius: 9px;
}

.cnt{
  color: crimson;
}

.line{
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  color: #738186;
}

.line2{
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  color: #738186;
  border-style: dashed;
}

.iconr{
  display: inline-block;
  background-color:crimson;
  color: white;
  padding: 1px 7px;
  margin: 2px 0px;
  border-radius: 3px;
  font-size: small;
}

.iconb{
  display: inline-block;
  background-color:dodgerblue;
  color: white;
  padding: 1px 7px;
  margin: 2px 0px;
  border-radius: 3px;
  font-size: small;
}

.menubox{
  background-color: dodgerblue;
  color: black;
  font-family: 'KyoboHand';
  font-size: 18px;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
}.menubox:hover { /*버튼 클릭시 */
  background-color:#9fc5e8;
}

